.bg-champagne{
    background-color: #EAD498;
}

.c-champagne{
    color: #EAD498;
}

.bg-lila{
    background-color: #D3C3B0;
}

.c-lila{
    color: #D3C3B0:
}

.bg-rosita{
    background-color: #EBB698;
}

.c-rosita{
    color: #EBB698;
}
